.banner-container {
    position: relative;
}

.banner-background img {
    width: 100%;

}

.banner-info {
    position: absolute;
    top: 25%;
    left: 30%;
}

.banner-search {
    width: 400px;
    height: 56px;
    padding: 20px;
    background-color: #ffffff;
    color: #b9b9b9;
    font-size: large;
    border-radius: 20px;
    border: none;
}

.banner-search:focus-visible {
    outline: none;

}

.banner-search-btn {
    color: white;
    background-color: #f91944;
    width: 140px;
    height: 55px;
    font-size: large;
    border-radius: 20px;
    margin-left: -50px;
    border: none;
}